<div class="artist-detail">

    <div class="artist-detail__cover" style="background-image: url('{{gruppo.coverImage}}')">
        <div class="content-wrapper">
            <div class="visual__text">
                <h1>{{gruppo.name}}</h1>
                <p>{{gruppo.informations}}</p>
            </div>
        </div>
    </div>
    <div class="disco-info">
        <div class="content-wrapper disco-info__wrapper">
            <div class="disco-text-ctr">
                <div class="disco-text__wrapper">
                    <h2 class="disco-info__title">INTRODUCING</h2>
                    <div class="disco-info__text">
                        {{{gruppo.biography}}}</div>
                    <div class="more-info">
                        <p><strong>genere:</strong> {{gruppo.genere}}</p>
                        <p><strong>location:</strong> {{gruppo.location}}</p>
                        <p><a href="mailto:{{gruppo.email}}"><strong>email</strong></a></p>
                        <p><a href="{{gruppo.website}}"><strong>site</strong></a></p>
                    </div>


                </div>
                <h2 class="disco-info__title">GROUP MEMBERS</h2>
                <ul>
                    {{#each gruppo.membri}}
                        <li class="membro__thumb">

                            <div class="text-ctr">
                                <a href="/group-member/{{this._id}}"><p class="membro__thumb-name">{{this.name}}</p></a>
                                <ul class="strumenti">
                                    {{#each this.strumenti}}
                                        <li class="strumento">
                                            <p>{{this}}</p>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>


                        </li>
                    {{/each}}

                </ul>
                {{#if gruppo.videos_embed}}
                    <div>


                        {{#each gruppo.videos_embed}}
                            <div class="videos_embed">
                                {{{this}}}
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
            <div class="disco__right">
                <figure class="disco-cover">
                    <img src="{{gruppo.profileImage}}">
                </figure>

                {{#if gruppo.tracks_embed}}
                    <div>
                        <ul>
                            {{#each gruppo.tracks_embed}}
                                <li class="tracks_embed">
                                    {{{this}}}
                                </li>

                            {{/each}}
                        </ul>
                    </div>
                {{/if}}


            </div>

        </div>
    </div>

    <div class="content-wrapper">

    </div>
    <div class="discografia-ctr">
        <div class="content-wrapper">
            <h2 class="disco-info__title">DISCOGRAFIA</h2>
            <div class="">
                <div class="discografia">

                    {{#each gruppo.dischi}}
                        <div class="disco">
                            <a href="/disco/{{_id}}">
                                <img src="{{this.coverImage}}">
                                <div class="disco__text-ctr">
                                    <p class="disco__title"> {{this.name}}</p>
                                    <p class="disco__date"> {{this.publication_date}}</p>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


</div>