<div class="disco-detail">
    <div class="disco-image" style="background-image: url('{{disco.coverImage}}')">
        <div class="content-wrapper">
            <h1 class="disco-image__title">{{disco.name}}</h1>
            <p>{{disco.publication_date}}</p>
        </div>

    </div>
    <div class="disco-info">
        <div class="content-wrapper disco-info__wrapper">
            <div class="disco-text-ctr">
                <div class="disco-text__wrapper">
                    <h2 class="disco-info__title">INTRODUCING</h2>
                    <p class="disco-info__text">
                        {{{disco.description}}}
                    </p>
                    <!--<p class="disco-info__by"><span>by:</span> <a href="/">Marrano</a></p>-->
                </div>



                {{#if disco.videos_embed}}
                    <div>
                        {{#each disco.videos_embed}}
                            {{{this}}}
                        {{/each}}
                    </div>
                {{/if}}


            </div>
            <div class="disco__right">
                <figure class="disco-cover">
                    <img src="{{disco.coverImage}}">
                </figure>
                {{#if disco.album_tracks_embed}}
                    <div>
                        {{{disco.album_tracks_embed}}}
                    </div>
                {{/if}}

            </div>

        </div>
    </div>

</div>