<li class="entity">
    <div class="entity__header">

        <ul class="entity__actions">
            <li class="entity__action">
                <a href="/contents/{{id}}" class="entity__action--btn">
                    <span class="typcn typcn-plus"></span>
                </a>
            </li>
            <li class="entity__action">
                <a href="/contents/search/{{id}}" class="entity__action--btn">
                    <span class="typcn typcn-zoom"></span>
                </a>
            </li>
        </ul>
        <h2 class="entity__name">{{name}}</h2>
    </div>

    <ul class="records">
        {{#each data}}
            <li class="record">
                <a href="/contents/{{@../id}}/{{id}}" class="record__item">
                    {{name}}
                </a>
                <ul class="record__item entity__actions">
                    <li>
                        <button>edit</button>
                    </li>
                    <li>
                        <button>delete</button>
                    </li>
                </ul>
            </li>
        {{/each}}
    </ul>
</li>