<li class="entity" data-mediator="accordion">
    <div class="entity__header">

        <ul class="entity__actions">
            <li class="entity__action">
                <a href="/contents/{{id}}" class="entity__action--btn">
                    <span class="typcn typcn-plus"></span>
                </a>
            </li>
            <li class="entity__action">
                <a href="/contents/search/{{id}}" class="entity__action--btn">
                    <span class="typcn typcn-zoom"></span>
                </a>
            </li>
        </ul>
        <h2 class="entity__name" data-accordion-button>{{name}}</h2>
    </div>

    <ul class="records hidden" data-accordion-expand>
        {{#each records}}
            <li class="record">
                <ul class="record__item entity__actions">
                    <li>
                        <a href="/contents/{{../id}}/{{_id}}" class="record__item" title="Vai al dettaglio e modifica">
                            <span class="typcn typcn-arrow-right-thick"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/contents/delete/{{../id}}/{{_id}}" class="record__item" title="Elimina il record">
                            <span class="typcn typcn-minus"></span>
                        </a>
                    </li>
                </ul>
                <a href="/contents/{{../id}}/{{_id}}" class="record__item" title="Vai al dettaglio e modifica">
                    {{name.value}}
                </a>

            </li>
        {{/each}}
    </ul>
</li>